<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleHelpBookFolder</key>
	<string>XDateHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>net.script-factory.XDate.help</string>
	<key>CFBundleIdentifier</key>
	<string>net.script-factory.XDate</string>
	<key>CFBundleName</key>
	<string>XDate</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2018, Tetsuro KURITA</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<false/>
		<key>bundlePositionOfDivider</key>
		<real>616</real>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>1</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>367</real>
		<key>savedFrame</key>
		<string>200 170 915 707 0 0 1440 877 </string>
		<key>selectedTab</key>
		<string>log</string>
	</dict>
</dict>
</plist>
